<div class="index-bg">

  <div class="container-fluid" style="width:100%;height: 100%;overflow-y: scroll;">

    <div class="container">
      <div class="row" style="padding-top: 40px">
        <% if @existed %>

            <% @existed.each do |existed| %>
                <!-- for loop print existed-->
                <div class="col-xs-12 col-sm-6 col-md-4   existed-width">
                  <div class="thumbnail">
                    <%= image_tag(existed[:stuff_exist_img] , style:"width:100%;height:350px !important;") %>
                    <div class="caption">
                      <div class="row">
                        <div class="col-xs-12 existed-font-title">
                          <% if !existed[:name].nil? %>
                              <%= existed[:name] %>
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <button type="button" class="btn btn-info btn-sm existed-font-btn make_existed_order" data-toggle="modal" data-target="#summaryModal_<%= existed[:id] %>" onclick="pick('<%= existed[:id] %>','<%= existed[:size].to_json %>')" >ใบเสนอราคา</button>
                          <button type="button" class="btn btn-default btn-sm existed-font-btn" data-toggle="modal" data-target="#exist_<%= existed[:id] %>">รายละเอียด</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- upload file alert Modal -->
                <div id="exist_<%= existed[:id] %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- thxModal Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><%= existed[:name] %></h4>
                      </div>
                      <div class="modal-body" align="center">

                        <%= image_tag(existed[:stuff_exist_img] , width:"100%") %>

                      </div>
                    </div>
                  </div>
                </div>


                <!-- Summary Modal -->
                <div id="summaryModal_<%= existed[:id] %>" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg">

                    <!-- Summary Modal content-->
                    <div class="modal-content">
                      <!--<div class="modal-header">-->
                      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                      <!--<h4 class="modal-title">Modal Header</h4>-->
                      <!--</div>-->
                      <div class="modal-body">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title"><%= existed[:name] %></h4>
                        </div>
                        <div class="container-fluid">
                          <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-6" align="center">
                              <div class="design-img">
                                <%= image_tag(existed[:stuff_exist_img] , width:"100%") %>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6" style="padding-right: 8%;padding-bottom: 15px">
                              <div class="row">
                                <div class="col-md-12">
                                  <h2 style="font-size: 3.3em;margin-top: 10px">MAKE ORDER</h2>
                                  <h4 style="font-size: 1.9em">SIZE AND QUANTITY</h4>
                                </div>
                              </div>
                              <div class="row">
                                <div class="stuff_size_input">
                                  <!-- APPEND STUFF SIZE -->

                                  <% if !existed[:size].nil? %>
                                      <div class='col-xs-12 col-sm-12 col-md-12 stuff-size-inline'><h4>ชาย</h4></div>
                                      <% existed[:size].each do |size| %>
                                          <% if size[:sex]=='male' %>
                                              <div class='col-xs-6 col-sm-6 col-md-4 stuff-size-inline'>
                                                <div class='stuff-inline' style="width: 30px">
                                                  <%= size[:name] %> :
                                                </div>
                                                <input class='stuff-inline' name="input_male_order" type='number' min='0' name='' id='male_<%= existed[:id] %>_<%= size[:name] %>' style='width: 50px'>
                                              </div>
                                          <% end %>
                                      <% end %>
                                      <div class='col-xs-12 col-sm-12 col-md-12 stuff-size-inline'><h4>หญิง</h4></div>
                                      <% existed[:size].each do |size| %>
                                          <% if size[:sex]=='female' %>
                                              <div class='col-xs-6 col-sm-6 col-md-4 stuff-size-inline'>
                                                <div class='stuff-inline' style="width: 30px">
                                                  <%= size[:name] %> :
                                                </div>
                                                <input class='stuff-inline input_female_order' type='number' min='0' name='' id='female_<%= existed[:id] %>_<%= size[:name] %>' style='width: 50px'>
                                              </div>
                                          <% end %>
                                      <% end %>
                                  <% end %>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                  <h4 style="font-size: 1.9em">SUMMARY</h4>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6 ">TOTAL</div>
                                <div class="col-md-6 col-xs-6 col-sm-6 total_price" >0.- บาท</div>
                                <div class="col-md-12 col-xs-12 col-sm-12 " id="total_price">*This is just estimate price.</div>
                              </div>
                              <div class="row address-modal-margin" style="padding-bottom: 20px">
                                <div class="col-xs-12">
                                  <div class="  create-modal-btn" data-dismiss="modal" data-toggle="modal" data-target="#addressModal" id="make_order_amount" align="center" onclick="selectExisted(<%= existed[:id] %>,'<%= existed[:stuff_exist_img] %>','<%= existed[:size].to_json %>')">
                                    MAKE ORDER
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<div class="modal-footer">-->
                      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                      <!--</div>-->
                    </div>

                  </div>
                </div>


            <% end %>
        <% end %>

      </div><!-- Row -->
    </div><!-- Container -->
  </div><!-- Container fluid -->
</div><!-- Index bg -->

<!--===================================================================================-->
<!--===================================================================================-->
<!--===================================================================================-->
<!--===================================================================================-->
<!--===================================================================================-->


<!-- Address Modal -->
<div id="addressModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Address Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6" align="center">
              <div id="addressModal_img" style="padding-top: 100px;">

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="padding-right: 8%;padding-bottom: 20px">
              <div class="row">
                <div class="col-md-12">
                  <h4>ข้อมูลผู้ขอเสนอราคา</h4>
                </div>
              </div>
              <%= form_tag root_path do %>

                  <div class="row address-modal-margin">
                    <div class="col-md-12">
                      <%= text_field_tag 'first_name', nil, placeholder: 'ชื่อ' , class:'form-control',style:'width:100%' %>
                    </div>
                  </div>
                  <!--<div class="row address-modal-margin">-->
                  <!--<div class="col-md-12">-->
                  <!--<%= text_field_tag 'last_name', nil, placeholder: 'นามสกุล', class:'form-control',style:'width:100%' %>-->
                  <!--</div>-->
                  <!--</div>-->
                  <div class="row address-modal-margin">
                    <div class="col-md-12">
                      <%= text_field_tag 'email',nil, placeholder: 'อีเมล',class:'form-control',style:'width:100%' %>
                    </div>
                  </div>
                  <div class="row address-modal-margin">
                    <div class="col-md-12">
                      <%= text_field_tag 'tel',nil, placeholder: 'โทรศัพท์',class:'form-control',style:'width:100%' %>
                    </div>
                  </div>
                  <div class="row address-modal-margin">
                    <div class="col-md-12">
                      <%= text_area_tag 'address', nil, placeholder: 'ที่อยู่', rows: 3, cols: 25 ,style:'width:100%;padding:10px' %>
                    </div>
                  </div>

                  ข้อมูลกรณีขอเสนอราคาในนามบริษัท

                  <div class="row address-modal-margin">
                    <div class="col-md-12">
                      <%= text_field_tag 'company_name',nil, placeholder: 'ชื่อบริษัท',class:'form-control',style:'width:100%' %>
                    </div>
                  </div>
                  <div class="row address-modal-margin">
                    <div class="col-md-12 company_addressModal_l">
                      <%= text_field_tag 'company_branch',nil, placeholder: 'สาขา(ถ้ามี)',class:'form-control',style:'width:100%' %>
                    </div>
                  </div>

                  <div class="row address-modal-margin">
                    <div class="col-md-12 company_addressModal_r">
                      <%= text_field_tag 'tax_identification_number',nil, placeholder: 'เลขประจำตัวผู้เสียภาษี',class:'form-control',style:'width:100%' %>
                    </div>
                  </div>

                  <div class="row address-modal-margin">
                    <div class="col-xs-12">
                    <div class="  create-modal-btn existed_make_order" id="existed_make_order" data-dismiss="modal" data-toggle="modal" align="center">
                      MAKE ORDER
                    </div>
                    </div>
                  </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- thxModal Modal -->
<div id="thxModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- thxModal Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6" align="center">
              <div id="thxModal_img" style="padding-top: 100px;">

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 modal-thank-padding" align="center">
              <div class="row">
                <div class="col-md-12">
                  <%= image_tag("create/smile.png", width: '180px', height: '180px') %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h2>THANK YOU</h2>
                  <p>WE'LL CONTACT YOU TO CONFIRM YOUR ORDER AS SOON AS POSSIBLE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upload file alert Modal -->
<div id="problemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- thxModal Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">

        <h3>การทำรายการ ผิดพลาด โปรดทำรายการใหม่อีกครั้ง.</h3>

      </div>
    </div>
  </div>
</div>



<!--===================================================================================-->
<!--===================================================================================-->
<!--===================================================================================-->
<!--===================================================================================-->
<!--===================================================================================-->

<script>

  var estimate_cost = "";
  var current_image_path = "";
  var current_size = "";
  var current_id = 0;

  function selectExisted(id,img,size){

    var size_amount = JSON.parse(size);
    var wrapPrice = [];

    $("#addressModal_img").empty();
    $("#addressModal_img").append("<img src="+img+" id='current_promotion_img' style='width:100%'>");

    $("#thxModal_img").empty();
    $("#thxModal_img").append("<img src="+img+" style='width:100%'>");

    for(var i = 0;i < size_amount.length;i++){
      wrapPrice.push({
        "size":size_amount[i]['name']+"_"+size_amount[i]['sex'],
        "amount":document.getElementById(size_amount[i]['sex']+"_"+id+"_"+size_amount[i]['name']).value,
        "price_per_unit":size_amount[i]['price']
      });
    }
    console.log(wrapPrice);

    estimate_cost = wrapPrice;
    current_image_path = img;
  }

  $(document).ready(function(){

    $(".existed_make_order").on('click',function(){

      var first_name = $("#first_name").val();
      var email = $("#email").val();
      var tel = $("#tel").val();
      var address = $("#address").val();
      var company_name = $("#company_name").val();
      var company_branch = $("#company_branch").val();
      var tax_identification_number = $("#tax_identification_number").val();
      var order_data = {
        "first_name":first_name,
        "email":email,
        "tel":tel,
        "address":address,
        "company_name":company_name,
        "company_branch":company_branch,
        "tax_identification_number":tax_identification_number,
        "estimate_cost":JSON.stringify(estimate_cost)
      }

      $.ajax({
        url: "/api/v1/creates/make_order",
        type: "post",
        dataType: "json",
        data: order_data,
        success: function(make_order_data, textStatus, xhr) {
          if(make_order_data){
            console.log("make_order_data");
            console.log(make_order_data);

            var tmp_canvas = document.createElement('canvas');
            var tmpContext = tmp_canvas.getContext('2d');
            var current_img = document.getElementById("current_promotion_img");
            tmp_canvas.width  = current_img.width ;
            tmp_canvas.height = current_img.height;
            tmpContext.drawImage(current_img,0,0,current_img.width,current_img.height);
            var dataURL = tmp_canvas.toDataURL();
            var blobBin = atob(dataURL.split(',')[1]);
            var array = [];
            for(var i = 0; i < blobBin.length; i++) {
              array.push(blobBin.charCodeAt(i));
            }
            var file=new Blob([new Uint8Array(array)], {type: 'image/png'});

            var formdata = new FormData();
            formdata.append("img", file);
            formdata.append("order_id", make_order_data['order_id']);
            $.ajax({
              url: "/api/v1/creates/save_order_img",
              method: "POST",
              data: formdata,
              processData: false,  // tell jQuery not to process the data
              contentType: false,  // tell jQuery not to set contentType
              success: function(data, textStatus, xhr) {
                $("#addressModal").modal("hide");
                if(data['status']==true){
                  $("#thxModal").modal("show");
                }else{
                  $("#problemModal").modal("show");
                }
              },
              error: function(err) {
                console.log(err);
                console.log("API save_order_img ERROR !!");
              }
            });
          }
        },
        error: function(err) {
          console.log(err);
          console.log("API make_order ERROR !!");
        }
      });

    }); // $(".existed_make_order")

  });

  function pick(id,size){
    current_size = size;
    current_id = id;
  }

  $(".stuff_size_input").change(function(){
    var size = JSON.parse(current_size);
    var total_price = 0;
    for(var i=0;i<size.length;i++){
      var amount_input = document.getElementById(size[i]['sex']+"_"+current_id+"_"+size[i]['name']).value;
      if (amount_input != 0){
        total_price = total_price + ( parseInt(size[i]['price']) * parseInt(amount_input));
      }

    }
    console.log(total_price);
    $(".total_price").empty();
    $(".total_price").append(total_price+".- BAHT");
  });


</script>
