<div class="create-color-bar" id="create-color-bar">
    <!------------- Stuff Textures ------------->
    <div class="texture-label">เนื้อผ้า</div>
    <div id="texture-picker"></div>

    <div class="texture-label" id="color-picker-render-label">สี</div>

    <div class="color-picker-render" id="color-picker-render-1" style="display: none;">
        <button type="button" class="btn btn-default dropdown-toggle btn-color-1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            &nbsp;
        </button>
        <div class="dropdown-menu custom-dropdown-menu" id="color-picker">
            <div class="dropdown-divider"></div>
        </div>
    </div>

    <div class="color-picker-render" id="color-picker-render-2" style="display: none;">
        <button type="button" class="btn btn-default dropdown-toggle btn-color-2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            &nbsp;
        </button>
        <div class="dropdown-menu custom-dropdown-menu" id="color-picker-2">
            <div class="dropdown-divider"></div>
        </div>
    </div>

    <div class="color-picker-render" id="color-picker-render-3" style="display: none;">
        <button type="button" class="btn btn-default dropdown-toggle btn-color-3" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            &nbsp;
        </button>
        <div class="dropdown-menu custom-dropdown-menu" id="color-picker-3">
            <div class="dropdown-divider"></div>
        </div>
    </div>
</div>

<% if current_user %>
    <input type="hidden" id="current_user_id" value="<%= current_user.id.to_s %>">
<% end %>

<div id="overlay"></div>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <% @stuffType.each do |type| %>
                <%if type.stuff_type_img %>
                <li class="type_select" onclick="checkNav('<%= type.name %>','<%= type.id %>')">
                    <div class='stuff-inline stuff-type-left'>
                        <div class="stuff-type-left-img stuff-type-icon-left" style="background-image:url(<%= type.stuff_type_img.url(:thumb);%>);background-size: contain;background-repeat: no-repeat;"></div>
                        <div class="cursor-arrow" value="<%= type.id %>"></div>
                    </div>
                    <div class='stuff-inline stuff-pick-right stuff-intersection-right' value="<%= type.id %>">
                        <div class="stuff-type-left-img stuff-pick-invert-color stuff-type-right-img stuff-type-icon-right"
                            value="<%= type.id %>"></div>
                    </div>
                </li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <form action="/print_art_work" id="form_print" method="post" target="_blank">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input id="img_base_64" name="img_base_64" type="text" style="display: none;" />

        <button class="btn btn_order print-btn" name="commit" type="submit">
            ปริ้นตัวอย่าง
        </button>
        <% if current_user %>
            <button class="btn btn_order make_order" id="make_order" name="commit" type="button">
                สั่งซื้อ
            </button>
        <% else %>
            <button class="btn btn_order make_order" id="ask_sign_in" type="button">
                สั่งซื้อ
            </button>
        <% end %>
    </form>

    <div id="page-content-wrapper">
        <div class="container-fluid">

            <!-----------  SideBar  ------------->
            <ul id="subBarMenu" class="sidenav"></ul>
            <div class="workspace">
                <div class="create-canvas-panel">

                    <div id="loading_gif" style="display: none;">
                        <div class="lds-css ng-scope">
                            <div style="width:100%;height:100%" class="lds-double-ring">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <canvas width="1600" height="800" name="order_canvas" id="order_canvas" class="canvas_size_custom"
                        data-water-mask="<%= asset_path 'print/water_mask.png' %>"></canvas><br>
                    <canvas width="1600" height="800" name="tmp_canvas" id="tmp_canvas" class="canvas_size_custom"
                        style="display: none;"></canvas>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="stuff_preview_right">
    <div class="stuff_preview_right_header texture_preview_header">
        <div class="row">
            <div style="display: inline-block;" class="stuff_texture_preview_img" id="stuff_texture_preview_img"></div>
            <div style="display: inline-block;">ประเภท</div>
            <div style="display: inline-block;" class="stuff_texture_preview_name" id="stuff_texture_preview_name"></div>
            <div class="create-extened-tab-icon">
                &#43;
            </div>
        </div>
    </div>
    <div class="stuff_texture_preview" id="stuff_texture_preview" style="display: none;">
        <div class="summary_wrapper" id="stuff_select_summary">

        </div>
        <div class="summary_wrapper">
            <div class="hr"></div>
        </div>
        <div class="summary_wrapper">
            <div class="title">ความยืดหยุ่น</div>
            <div class="desc">5</div>
            <div class="title">ความยืดหยุ่น</div>
            <div class="desc">5</div>
            <div class="title">ความยืดหยุ่น</div>
            <div class="desc">5</div>
        </div>
    </div>
</div>

<%= render "designs/modal" %>
<%= javascript_include_tag "create_stuff.js" %>