
  <!------------------------------ ภาพรวม -------------------------------->
  <div class ="row how_to_margin">
    <div class="col-md-6">
      <%= image_tag("how_to/Tstep_1.png", class: "how_to_step_1") %>
    </div>
    <div class="col-md-6 how_to_text_padding">
      <h1>ภาพรวม</h1>
      <ol type="1">
        <li>ชนิดเนื้อผ้า เปลี่ยนตาม ชนิดของเสื้อที่เลือก เช่น เสื้อยืด เสื้อโปโล เป็นต้น.</li>
        <li>เมนูเลือกเพื่อเปลี่ยนจุดที่จะปรับแต่ง ตามลำดับดังนี้
          <ul>
            <li> ชนิดเสื้อ </li>
            <li> ชนิดลำตัวของเสื้อ </li>
            <li> ชนิดกระเป๋าเสื้อ </li>
            <li> ชนิดปลายแขนเสื้อ </li>
            <li> ชนิดแขนเสื้อ </li>
            <li> ชนิดปกเสื้อ </li>
            <li> ชนิดสาปเสื้อ </li>
            <li> ชนิดกระดุม</li>
            <li> โลโก้ (อัพโหลดภาพของคุณ ตามตำแหน่ง) </li>
          </ul>
        </li>
        <li>เมนูย่อย ของ เมนูที่ข้อที่ 2 แสดงชนิดของแบบเสื้อต่างๆ เช่น เสื้อโปโล เสื้อยืด เป็นต้น.</li>
        <li>ปุ่ม ปริ้น รูปแบบเสื้อล่าสุดที่ออกแบบไว้</li>
        <li>ปุ่ม MAKE ORDER กดแล้วจะเข้าสู่ั้นตอนของการทำรายการใบสั่งซื้อ</li>
        <li>รูป พรีวิว แสดงรูปแบบเสื้อล่าสุด</li>
        <li>ส่วนแสดงชนิด และ ข้อมูลเนื้อผ้าที่เลือก (จากข้อที่ 1) </li>
      </ol>
    </div>
  </div>

  <!------------------------------ STEP 1 -------------------------------->
  <div class ="row how_to_margin">
    <div class="col-md-6 how_to_text_padding">
      <h1>STEP 1 การเลือกสีเสื้อแต่ละส่วน</h1>
      <ol type="1">
        <p>หากคุณต้องการจะเลือกสี ลำตัวของเสื้อ มีขั้นตอนดังนี้</p>
        <li>เลือก ตำแหน่ง เสื้อที่ต้องการจะปรับแต่ง (ในภาพคือลำตัว)</li>
        <li>เลือก รูปแบบ เสื้อที่ต้องการ (ในภาพคือตัดต่อข้างลำตัว #2)</li>
        <li>กดที่ ปุ่ม A จะมีรายการสีมาให้ลูกค้าเลือกปรับแต่ง เมื่อเลือก เสื้อจะเปลี่ยนสีเป็นสีที่ลูกค้าเลือกดังภาพตัวอย่าง a</li>
        <li>กดที่ ปุ่ม B จะมีรายการสีมาให้ลูกค้าเลือกปรับแต่ง เมื่อเลือก เสื้อจะเปลี่ยนสีเป็นสีที่ลูกค้าเลือกดังภาพตัวอย่าง b</li>
      </ol>
    </div>
    <div class="col-md-6">
      <%= image_tag("how_to/Tstep_2.png", class: "how_to_step_1") %>
    </div>
  </div>

  <!------------------------------ STEP 2 -------------------------------->
  <div class ="row how_to_margin">
    <div class="col-md-6">
      <%= image_tag("how_to/Tstep_3.png", class: "how_to_step_1") %>
    </div>
    <div class="col-md-6 how_to_text_padding">
      <h1>STEP 2 การอัพโหลดโลโก้</h1>
      <ol type="1">
        <p>ที่ภาพรวมหากคุณกดที่ปุ่ม LOGO ระบบจะขึ้นตัวเลือกดังนี้</p>
        <li>เลือก ไฟล์ โลโก้ที่ต้องการอัพโหลด</li>
        <li>จำนวนสีของโลโก้</li>
        <li>เลือกประเภทงานของโลโก้ เช่น งานปัก หรือ งานสกรีน </li>
        <li>ขนาดความกว้าง ของโลโก้ที่ต้องการ (เซนติเมตร)</li>
        <li>ขนาดความสูง ของโลโก้ที่ต้องการ (เซนติเมตร)</li>
        <li>เมื่อ เสร็จขั้นตอนด้านบน แล้ว กดปุ่ม อัพโหลด</li>
        <br>
        <p><b>ข้อกำหนด</b>
          ขนาดรูปภาพขั้นต่ำที่ต้องการ คำนวนจาก Pixel = (ขนาด cm) * 0.39 * 200dpi.
          เช่นหาก ใส่ 10 cm ขนาดขั้นต่ำของ ความละเอียด ควรเป็น 780 Pixel.</p>
      </ol>
    </div>
  </div>

  <!------------------------------ STEP 3 -------------------------------->
  <div class ="row how_to_margin">
    <div class="col-md-6 how_to_text_padding">
      <h1>STEP 3 การทำรายการขอเสนอราคา</h1>
      <ol type="1">
        <p>เมื่อกดปุ่ม MAKE ORDER</p>
        <li>พรีวิว แบบเสื้อล่าสุดที่ได้ออกแบบไว้</li>
        <li>เลือกใส่ จำนวนเสื้อที่ต้องการ ตามไซต์ (ชาย)</li>
        <li>เลือกใส่ จำนวนเสื้อที่ต้องการ ตามไซต์ (หญิง)</li>
        <li>หากต้องการเพิ่มขนาดความยาวเสื้อให้เลือกที่ เพิ่มความยาวเสื้อ ระบบจำทำการคำนวนราคาใหม่</li>
        <li>จำนวนตัวทั้งหมด ราคาเฉลี่ยต่อตัว ราคารวมทั้งหมด (เป็นราคาประมาณ)</li>
        <li>เมื่อเสร็จขั้นตอนด้านบนแล้วกด MAKE ORDER</li>
      </ol>
    </div>
    <div class="col-md-6">
      <%= image_tag("how_to/Tstep_4.png", class: "how_to_step_1") %>
    </div>
  </div>

  <!------------------------------ STEP 4 -------------------------------->
  <div class ="row how_to_margin">
    <div class="col-md-6">
      <%= image_tag("how_to/Tstep_5.png", class: "how_to_step_1") %>
    </div>
    <div class="col-md-6 how_to_text_padding">
      <h1>STEP 4 กรอกข้อมูลผู้ขอเสนอราคา</h1>
      <ol type="1">
        <li>กรอกข้อมูล ผู้ขอเสนอราคา ชื่อ อีเมล โทรศัพท์ ที่อยู่</li>
        <li>กรอกข้อมูล กรณีขอเสนอราคาในนามบริษัท ชื้อบริษัท สาขา(ถ้ามี) เลขประจำตัวผู้เสียภาษี</li>
        <li>ขั้นตอนสุดท้าย กดเพื่อยืนยันคำสั่ง ขอเสนอราคา</li>
      </ol>
    </div>
  </div>

  <!------------------------------ STEP 5 -------------------------------->
  <div class ="row how_to_margin">
    <div class="col-md-6 how_to_text_padding">
      <h1>STEP 5 เสร็จสิ้นขั้นตอน</h1>
      <ol type="1">
        <li>ทางเราจะติดต่อตามข้อมูลที่ลุณกรอกเข้ามาโดยเร็วที่สุด. </li>
      </ol>
    </div>
    <div class="col-md-6">
      <%= image_tag("how_to/Tstep_6.png", class: "how_to_step_1") %>
    </div>
  </div>
