<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ipolo Design</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path("index/logo.png") %>" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= yield(:stylesheets) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= yield(:javascript) %>
    <%= csrf_meta_tags %>
  </head>
  <body style="height: 100%;">

    <%= render "index/header" %>
    <%= yield %>

  </body>
</html>
